body {
    background-color: darkgrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 18px;
}

h1 {
    color: azure;
}

h2 {
    color: teal;
}

ul,
ol {
    background: silver;
}

img {
    height: 256px;
    width: auto;
}

a {
    color: firebrick;
}
